alembic
attrs
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
decorator
gunicorn
idna
itsdangerous
jsonschema
lxml
nbformat
numpy
pandas
pandas-datareader
plotly
python-dateutil
python-editor
pytz
requests
retrying
six
traitlets
urllib3
wrapt
Flask
Flask-Compress
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
ipython_genutils
Jinja2
jupyter_core
Mako
MarkupSafe
SQLAlchemy
Werkzeug
WTForms
pycarol